
      {% extends 'main/base.html' %}
      {% load static %}
    
      <!-- ==============================
      Start SEO blocks
    ========================================-->
     {% block title %} codefilter - Portfolio Detail {% endblock %}
     {% block description %} {% endblock %}
     {% block keywords %} {% endblock %}
     <!-- ==============================
      End SEO blocks
    ========================================-->
    <!-- ==============================
      Start css blocks
    ========================================-->
    {% block extend_header %} {% endblock %}
    
    <!-- ==============================
     End header blocks
    ========================================-->
    <!-- ==============================
      Start script blocks
    ========================================-->
    {% block extend_footer %} {% endblock %}
    
    <!-- ==============================
     End script blocks
    ========================================-->
    
    {% block content %}
    
      
    <!-- ================================
    Start Content
    ================================= -->
    <section>
      <div class="innerPageBannerCol">
        <div class="container">
          <div class="row g-4 g-md-3  align-items-center">
            <div class="col-md-6">
              <div class="bannerContent">
                <h1 class="xlTitle pb-md-3">Portfolio Title</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="sectionSpaceSm">
        <div class="container">
          <p>relating to, denoting, or engaged in an employment pattern
            that involves a succession of short-term contracts and part-time work, 
            rather than the more traditional model of a long-term single job.
          </p>
        </div>
      </div>
    </section>
    <!-- ================================
    End Content
    ================================= -->
    {% endblock %}